.body{
	width: 300px;
	margin: auto;
	position: relative;
    height: 450px;
}

.body .tree{
	border-top-color: white;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: #04a769;
    border-style: solid;
    position: absolute;
}

.body .one{
	border-width: 150px;
	margin: 0;
	top: 90px;
}

.body .two{
	border-width: 130px;
	margin: 0 19px;
	top: 60px;
}

.body .three{
	border-width: 110px;
	margin: 0 39px;
	top: 30px;
}

.body .four{
	border-width: 90px;
    margin: 0 57px;
	top: 0;
}
.root{
	position: absolute;
    width: 20px;
    height: 30px;
    background: #86724C;
    bottom: 30px;
    left: calc(300px/2 - 10px);
}
.floor{
	position: absolute;
    width: 300px;
    height: 9px;
    background: #CCCCCC;
    border-radius: 50%;
    bottom: 12px;
    left: 0;
}
.decoration{
	width: 0;
    height: 69px;
    background: white;
    transform: skew(-65deg);
    border-left: dashed 8px #FFE45A;
    position: absolute;
}
.dec-one{
	top: 134px;
    left: 137px;
    height: 45px;
}
.dec-two{
	top: 189px;
    left: 129px;
    height: 60px;
}
.dec-three{
	top: 250px;
    left: 129px;
}
.dec-four{
	top: 319px;
    left: 131px;
    border-left: dashed 8px #FFE45A;
    height: 71px;
    transform: skew(-69deg);
}
.star{
    position: relative;
    display: block;
    color: #FFE45A;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #FFE45A;
    border-left: 10px solid transparent;
}
.star:after {
    content: "";
    position: absolute;
    border-top: 20px solid #FFE45A;
    display: block;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    left: -10px;
    top: 6px;
}
.cont-star1{
	position: absolute;
	top: 71px;
    left: calc(300px/2 - 13px);
}
.cont-star2{
	position: absolute;
	top: 300px;
    left: 94px;
}
.cont-star3{
	position: absolute;
	top: 200px;
    left: 164px;
}